<header>
  <h1 mat-dialog-title class="change-repo-form-title">{{ data.repoName ? 'Change repository' : 'Select repository' }}</h1>
  <mat-checkbox *ngIf="data.repoName" [(ngModel)]="this.keepFilters">Keep Filters</mat-checkbox>
</header>
<div mat-dialog-content>
  <form (ngSubmit)="onYesClick()">
    <mat-form-field appearance="fill">
      <mat-label>Repository Location (Github Link or Org/Repo)</mat-label>
      <input matInput [(ngModel)]="this.repoName" [formControl]="repoChangeForm" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let suggestion of filteredSuggestions | async" [value]="suggestion">
          {{ suggestion }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="warn">Cancel</button>
  <button mat-button (click)="onYesClick()" color="primary">{{ data.repoName ? 'Change Repo' : 'Select Repo' }}</button>
</div>
