<h1 mat-dialog-title class="change-repo-form-title"> {{ data.repoName ? "Change repository" : "Select repository" }} </h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Repository Location (Org/Repo)</mat-label>
    <input matInput [(ngModel)]="this.repoName" [formControl]="repoChangeForm" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let suggestion of filteredSuggestions | async" [value]="suggestion">
        {{ suggestion }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="warn">Cancel</button>
  <button mat-button (click)="onYesClick()" color="primary"> {{ data.repoName ? "Change Repo" : "Select Repo" }} </button>
</div>
