.table-container {
  margin: 10px;
  min-width: 400px;
}

.actor-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 1px;
}

.actor-username {
  flex-grow: 1;
  font-size: 15px;
  margin: 0;
  text-align: center;
  word-break: break-word;
}

.avatar-container {
  margin-right: 10px;
}

.mat-table {
  /* flex-wrap: wrap; */
  width: 100%;
}

/* ref: https://material.angular.io/components/table/examples#table-expandable-rows */
.example-detail-row {
  min-height: 0;
}

.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
}

/* Colour cells */

.white {
  background-color: white;
}

.pale-green {
  background-color: palegreen;
}

.green {
  background-color: green;
}
