<form (ngSubmit)="onSubmit($event)" [formGroup]="form">
  <h1 mat-dialog-title>Save new preset</h1>
  <div mat-dialog-content>
    <p>Please enter a name for your preset.</p>
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input formControlName="label" name="label" matInput required />
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="footer-buttons">
    <button mat-button [mat-dialog-close]="{ action: 'cancel' }">Cancel</button>
    <button type="submit" mat-button>Save</button>
  </div>
</form>
