<div class="card-column">
  <div class="column-header">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar [octicon]="headerInfo.octicon" [color]="headerInfo.color" size="10"></div>
        <mat-card-title>
          {{ headerInfo.title }}
        </mat-card-title>
        <div class="row-count">{{ issues.count }}</div>
      </mat-card-header>
    </mat-card>
  </div>

  <div *ngFor="let issue of this.issues$ | async; index as i">
    <app-issue-pr-card [issue]="issue" [dropdownFilter]="issues.dropdownFilter"></app-issue-pr-card>
  </div>

  <mat-card *ngIf="headerInfo.isLoading$ | async" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card>
  <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
</div>
