<div class="label-filter-bar">
  <mat-form-field appearance="standard">
    <mat-label>Labels</mat-label>
    <mat-chip-list #chipList aria-label="Label selection">
      <mat-chip *ngFor="let label of selectedLabelNames" (removed)="remove(label)">
        {{ label }}
        <button matChipRemove>
          <mat-icon class="remove-label-icon">cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Add label filter..."
        #labelInput
        [formControl]="labelCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
        {{ label }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
