<mat-grid-list cols="7" rowHeight="80px">
  <mat-grid-tile colspan="3">
    <mat-form-field class="search-bar">
      <input matInput (keyup)="this.filtersService.updateFilters({ title: $event.target.value })" placeholder="Search" />
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <div class="dropdown-filters">
      <mat-form-field appearance="standard">
        <mat-label>Status</mat-label>
        <mat-select [value]="this.filter.status" (selectionChange)="this.filtersService.updateFilters({ status: $event.value })">
          <mat-option value="all">All</mat-option>
          <mat-option value="open">Open</mat-option>
          <mat-option value="closed">Closed</mat-option>
          <mat-option value="merged" *ngIf="isNotFilterIssue()">Merged</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Type</mat-label>
        <mat-select [value]="this.filter.type" (selectionChange)="this.filtersService.updateFilters({ type: $event.value })">
          <mat-option value="all">All</mat-option>
          <mat-option value="issue">Issue</mat-option>
          <mat-option value="pullrequest">Pull Request</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="standard"
        matSort
        [matSortDisableClear]="true"
        (matSortChange)="this.filtersService.updateFilters({ sort: $event })"
      >
        <mat-label>Sort</mat-label>
        <mat-select [value]="this.filter.sort.active">
          <mat-option value="id">
            <span mat-sort-header="id">ID</span>
          </mat-option>
          <mat-option value="title">
            <span mat-sort-header="title">Title</span>
          </mat-option>
          <mat-option value="date">
            <span mat-sort-header="date">Date Updated</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Milestone</mat-label>
        <mat-select
          #milestoneSelectorRef
          [value]="this.filter.milestones"
          (selectionChange)="this.filtersService.updateFilters({ milestones: $event.value })"
          [disabled]="this.milestoneService.hasNoMilestones"
          multiple
        >
          <mat-select-trigger *ngIf="this.milestoneService.hasNoMilestones">
            <span>No Milestones</span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let milestone of getDisplayedMilestones()"
            [value]="
              milestone.title === 'Without a milestone'
                ? (this.filter.type === 'issue' ? 'Issue' : this.filter.type === 'pullrequest' ? 'PR' : '') + ' without a milestone'
                : milestone.title
            "
          >
            {{ milestone.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="label-filter-grid-tile" colspan="1">
    <app-label-filter-bar></app-label-filter-bar>
  </mat-grid-tile>
</mat-grid-list>
