.filters .mat-form-field {
  margin: 8px;
  font-size: 14px;
  max-width: 20%;
  width: 14%; /* depends on number of filters*/
}

ul {
  margin: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
  max-height: 80px;
}

.menu {
  padding: 0 10px;
  border-left: 1px solid #eee;
  display: none;
  cursor: pointer;

  @media (max-width: 1400px) {
    display: block;
    justify-items: right;
  }
}

.filters {
  width: 57%;
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 100px;

  @media (max-width: 1400px) {
    display: none;

    &.is-open {
      display: block;
      position: absolute;
      width: 100%;
      top: 100%;
      z-index: 10;
      background-color: #ffffff;

      .filter-item {
        display: inline-block;
        margin: 8px;
      }
    }
  }
}
