.dropdown-filters .mat-form-field {
  margin: 8px;
  font-size: 14px;
  max-width: 20%;
  width: 13%; /* depends on number of filters*/
}

.search-bar {
  width: 90%;
}

.dropdown-filters {
  width: 100%;
}

.label-filter-grid-tile {
  width: 100%;
}

.submit-button {
  margin-left: 8px;
}
