ul {
  margin: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
  max-height: 80px;

  flex-direction: column;

  position: sticky;
  top: 0;
}

.menu {
  padding: 0 10px;
  border-left: 1px solid #eee;
  display: none;
  cursor: pointer;

  @media (max-width: 1400px) {
    display: block;
    justify-items: right;
  }
}

.filters {
  font-size: 14px;
  flex-direction: column;

  display: flex;
  /* align-items: center; */
  flex: 1;

  position: sticky;
  top: 0;

  /* @media (max-width: 1400px) {
    display: none;

    &.is-open {
      display: block;
      position: absolute;
      width: 100%;
      top: 100%;
      z-index: 10;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      .filter-item {
        display: inline-block;
        margin: 8px;
      }
    }
  } */
}
