<mat-card class="login-card">
  <mat-card-header style="margin-bottom: 20px">
    <mat-card-title class="login-title"> Repository URL </mat-card-title>
  </mat-card-header>

  <form [formGroup]="repoForm" (ngSubmit)="setupSession()">
    <mat-card-content>
      <mat-form-field class="login-field">
        <input
          matInput
          placeholder="Repository Location (Org/Repo)"
          formControlName="repo"
          required
          [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let suggestion of filteredSuggestions | async" [value]="suggestion">
            {{suggestion}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-card-actions>
        <button
          *ngIf="!isSettingUpSession"
          class="sign-in-button"
          type="submit"
          [disabled]="repoForm.invalid || isSettingUpSession"
          mat-stroked-button
          color="primary"
        >
          <div>Submit</div>
        </button>
        <div *ngIf="isSettingUpSession" class="spinner-centralize">
          <mat-spinner [diameter]="47"></mat-spinner>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </form>
  <!-- </mat-tab> -->
  <!-- </mat-tab-group> -->
</mat-card>
