
.hidden {
  display: none;
}

.issue-table {
  width: 25%;
  min-width: 200px;
  max-width: 400px;
}

.dropdown-filters .mat-form-field {
  margin: 8px;
  font-size: 14px;
  max-width: 20%;
  width: 25%; /* depends on number of filters*/
}

.search-bar {
  width: 100%;
}

.dropdown-filters {
  width: 100%;
}

.label-filter-grid-tile {
  width: 100%;
}

.submit-button {
  margin-left: 8px;
}

.switch-repo-tile {
  background-color: lightblue;
}
