<div>
  <mat-grid-list cols="7" rowHeight="80px">
    <mat-grid-tile cols="7" rowspan="3" *ngIf="!user">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-grid-tile>
    <ng-container *ngIf="user">
      <!-- user icon/name -->
      <mat-grid-tile colspan="2" rowspan="3">
        <app-profile-icon [name]="user.login" [avatar_url]="user.avatar_url"></app-profile-icon>
      </mat-grid-tile>
      <!-- user contribution details -->
      <mat-grid-tile colspan="5" rowspan="5">
        <app-profile-details [user]="user" style="width: 100%; height: 100%"></app-profile-details>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <app-filter-bar [views$]="this.views" #filterbar></app-filter-bar>
  <div style="display: flex">
    <app-profile-list
      *ngFor="let header of headers"
      [headerInfo]="header"
      [sort]="filterbar.matSort"
      [isLoading$]="issueService.isLoading.asObservable()"
      style="flex: 1 1 0px"
    ></app-profile-list>
  </div>
</div>
