<div>
  <mat-grid-list cols="7" rowHeight="80px">
    <mat-grid-tile cols="7" rowspan="3" *ngIf="!user">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-grid-tile>
    <ng-container *ngIf="user">
      <!-- user icon/name -->
      <mat-grid-tile colspan="2" rowspan="3">
        <app-profile-icon [name]="user.login" [avatar_url]="user.avatar_url"></app-profile-icon>
      </mat-grid-tile>
      <!-- user contribution details -->
      <mat-grid-tile colspan="5" rowspan="3" style.background="lightgreen">
        <app-profile-details></app-profile-details>
      </mat-grid-tile>
    </ng-container>

    <!-- search/filter bar -->
    <app-filter-bar></app-filter-bar>
  </mat-grid-list>
</div>
