.card {
  margin: 8px 0px 8px 0px;
  position: relative;
}

.pr-card {
  background-color: transparent;
}

.issue-card {
  background-color: transparent;
}

.mat-card {
  padding: 10px;
}

.issue-type-indicator {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}

.type-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: gray; /* Default fallback */
  margin-top: 4px;
  margin-right: 2px;
}

.issue-badge {
  width: 22px;
  height: 22px;
  font-family: 'Georgia';
  border-radius: 50%; /* Circle shape */
  padding: 0;
}

.pr-badge {
  width: 24px;
  height: 20px;
  border-radius: 20%; /* Rounded square shape */
}

.issue-badge.badge-green,
.pr-badge.badge-green {
  background-color: green;
}

.issue-badge.badge-purple,
.pr-badge.badge-purple {
  background-color: purple;
}

.issue-badge.badge-red,
.pr-badge.badge-red {
  background-color: red;
}

.issue-badge.badge-gray,
.pr-badge.badge-gray {
  background-color: gray;
}

.column-header {
  justify-content: center;
  margin: 0;
}

.border-green {
  border-left: 2.4px solid green;
}

.border-purple {
  border-left: 2.4px solid purple;
}

.border-red {
  border-left: 2.4px solid red;
}

.border-gray {
  border-left: 2.4px solid gray;
}

.mat-card-content {
  display: flex;
  align-items: center;
  font-size: 11px;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.mat-card-subtitle {
  display: flex;
  align-items: center;
  font-size: 11px;
  text-align: left;
  overflow: auto;
  margin: 6px 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.milestone-labels {
  display: flex;
  min-width: 0;
}

.reviews {
  margin-left: auto;
  width: auto;
  display: flex;
  gap: 3px;
  justify-content: flex-end;
  align-items: center;
}
