<mat-card class="card" [ngClass]="this.getIssueOpenOrCloseColorCSSClass()">
  <a class="no-underline link-grey-dark" (click)="viewIssueInBrowser($event)">
    <span [matTooltip]="this.issue.updated_at">
      <mat-card-header>
        <mat-card-title>
          <span class="octicon" [octicon]="this.getOcticon()" [color]="this.getIssueOpenOrCloseColor()"></span>
          #{{ this.issue.id }}: {{ this.fitTitleText() }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list aria-label="Labels">
          <span *ngIf="this.issue.milestone" class="octicon-milestone" octicon="milestone" color="grey" size="8"></span>
          {{ this.issue.milestone?.title }}
          <ng-container *ngFor="let label of this.issue.githubLabels">
            <mat-chip
              *ngIf="!this.dropdownFilter?.hiddenLabels.has(label.name)"
              [ngStyle]="this.labelService.setLabelStyle(label.color)"
              selected
            >
              {{ label.name }}
            </mat-chip>
          </ng-container>
        </mat-chip-list>
      </mat-card-content>
    </span>
  </a>
</mat-card>
