<mat-card class="card" [ngClass]="getIssueOpenOrCloseColorCSSClass()">
  <a class="no-underline link-grey-dark">
    <span [matTooltip]="this.issue.updated_at">
      <app-issue-pr-card-header [issue]="issue" (click)="viewIssueInBrowser($event)"></app-issue-pr-card-header>
    </span>
  </a>
  <mat-card-content>
    <span
      [matTooltip]="isNotFollowingForkingWorkflow() ? 'This PR is not following the fork workflow' : ''"
      class="octicon"
      [octicon]="'repo-forked'"
      [color]="isNotFollowingForkingWorkflow() ? 'red' : 'green'"
    ></span>
    <app-issue-pr-card-milestone
      [milestone]="issue.milestone"
      [repoHasMilestones]="!milestoneService.hasNoMilestones"
      (click)="viewMilestoneInBrowser($event)"
    ></app-issue-pr-card-milestone>
    <app-issue-pr-card-labels [labels]="issue.githubLabels" [labelSet]="filter?.hiddenLabels"></app-issue-pr-card-labels>
  </mat-card-content>
</mat-card>
