/* .issues-viewer {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

.issue-table {
  width: 25%;
  min-width: 200px;
  max-width: 400px;
}

.container {
  display: flex;
  flex-direction: row;
}

.dropdown-filters .mat-form-field {
  margin: 8px;
  font-size: 14px;
  max-width: 20%;
  width: 25%; /* depends on number of filters*/
}

.search-bar {
  width: 90%;
}

.dropdown-filters {
  width: 100%;
}

.label-filter-grid-tile {
  width: 100%;
}

.submit-button {
  margin-left: 8px;
}

.switch-repo-tile {
  background-color: lightblue;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  /* white-space: nowrap; */
  flex-grow: 1;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 64px);
}

.drawer-container {
  background-color: white;
}

.content-container {
  display: flex;
  height: 100%;

  /* Due to some library issues (?), the `content` for the sidenav is supposed to be an additional 6px, but for some reason
  the margin-left of the container is automatically set wrongly. */
  margin-left: 6px;
}

.toggle-switch-container {
  width: 16px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 4px;
  margin-right: 2px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }

  mat-icon {
    color: #555;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
}

.right {
  flex-grow: 1;
  display: flex;
  overflow-x: auto;
  /* background-color: blue; */

  height: 100%;

  box-sizing: border-box;
  padding: 0.5rem 1rem 0.5rem 0;
}
