<div class="card-column">
  <ng-container
    [ngTemplateOutlet]="getHeaderTemplate() || defaultHeader"
    [ngTemplateOutletContext]="{ $implicit: this.group }"
  ></ng-container>
  <div class="scrollable-container-wrapper scroll-shadow">
    <div class="scrollable-container">
      <div class="issue-pr-cards" *ngFor="let issue of this.issues$ | async; index as i">
        <app-issue-pr-card [issue]="issue" [filter]="issues.filter" [milestoneService]="milestoneService"></app-issue-pr-card>
      </div>
      <mat-card class="loading-spinner" *ngIf="this.issues.isLoading$ | async">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
      </mat-card>
    </div>
  </div>
  <mat-paginator
    [pageSize]="pageSize"
    [hidePageSize]="true"
    [pageSizeOptions]="[10, 20, 50]"
    [class]="pageSize >= issueLength ? 'pagination-hide-arrow' : ''"
  ></mat-paginator>
</div>

<!-- Template -->
<ng-template #defaultHeader>
  <mat-card class="loading-spinner">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
  </mat-card>
</ng-template>

<ng-template #assigneeHeader let-assignee>
  <div class="column-header">
    <mat-card>
      <mat-card-header [ngStyle]="{ height: '40px' }">
        <div
          mat-card-avatar
          *ngIf="assignee"
          [ngStyle]="{
            background: 'url(' + assignee.avatar_url + ')',
            'background-size': '40px'
          }"
        ></div>
        <mat-card-title>
          <div class="assignee-container">
            <div class="assignee-name">
              {{ assignee.login }}
            </div>
            <div class="row-count" matTooltip="Issue | Pull Requests" matTooltipPosition="above">
              <span class="octicon count-margins" octicon="issue-opened"></span>
              <span class="count-margins">{{ this.issues.issueCount }}</span>
              <span class="count-margins">|</span>
              <span class="octicon count-margins" octicon="git-pull-request"></span>
              <span>{{ this.issues.prCount }}</span>
            </div>
          </div>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</ng-template>

<ng-template #milestoneHeader let-milestone>
  <div class="column-header">
    <mat-card>
      <mat-card-header [ngStyle]="{ height: '40px' }">
        <mat-card-title>
          <div class="assignee-container">
            <div class="assignee-name">
              {{ milestone.title }}
            </div>
            <div class="row-count" matTooltip="Issue | Pull Requests" matTooltipPosition="above">
              <span class="octicon count-margins" octicon="issue-opened"></span>
              <span class="count-margins">{{ this.issues.issueCount }}</span>
              <span class="count-margins">|</span>
              <span class="octicon count-margins" octicon="git-pull-request"></span>
              <span>{{ this.issues.prCount }}</span>
            </div>
          </div>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</ng-template>
