.card-column {
  margin: 8px;
}

.card {
  margin: 8px 0px 8px 0px;
}

.mat-card-title {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-align: left;
  overflow: auto;
}

.column-header .mat-card-title {
  font-size: 14px;
}

.mat-card {
  padding: 10px;
}

:host ::ng-deep div.mat-card-header-text {
  margin: 2px;
}

div.column-header .mat-card-title {
  justify-content: center;
  margin: 0;
}

div.column-header {
  justify-content: center;
  position: relative;
  z-index: 5;
}

div.column-header .mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable-container {
  height: 53vh;
  overflow: auto;
  margin-bottom: 2px;
  scrollbar-width: none;
  position: relative;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

/* Ref: https://css-scroll-shadows.vercel.app */
.scrollable-container::before {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 2;
  height: 6px;
  width: 100%;
  display: block;
  background-image:
    linear-gradient(to bottom, white 66%, transparent);
}

.scrollable-container::after {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 2;
  height: 6px;
  width: 100%;
  display: block;
  background-image:
    linear-gradient(to bottom, transparent, white 66%);
}

.scrollable-container-wrapper {
  width: 100%;
  position: relative;
}

.scrollable-container-wrapper::before {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-image:
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0, 0.5), transparent);
}

.scrollable-container-wrapper::after {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-image:
  radial-gradient(farthest-side at 50% 100%, rgba(0,0,0, 0.5), transparent);
}

.scroll-shadow-cover-after-empty {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  background-image:
    linear-gradient(to bottom, transparent, white 66%);
  background-attachment: scroll;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-subtitle {
  display: flex;
  align-items: center;
  font-size: 11px;
  text-align: left;
  overflow: auto;
  margin: 6px 0;
}

.row-count {
  background-color: rgb(222, 222, 222);
  border-radius: 3px;
  cursor: default;
  padding: 6px;
  color: rgb(0, 0, 0);
  font-weight: 410;
  display: inline-flex;
  font-size: 14px;
}
