.card-column {
  margin: 20px;
}

.card {
  margin: 8px 0px 8px 0px;
}

.mat-card-footer {
  height: 2.4px;
  border-radius: 0 0 4px 4px;
  margin: 0 -10px -10px -10px;
}

.mat-card-actions {
  min-height: 36px;
}

.action-buttons {
  position: absolute;
  right: 0;
  bottom: 4px;
}

.mat-chip-list {
  margin: 0;
}

.mat-chip {
  border-radius: 6px;
  font-size: 12px;
  padding: 11px 7px;
  min-height: 16px;
  margin: 2px;
}

.mat-card-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-align: left;
  overflow: auto;
}

.mat-card-subtitle {
  font-size: 10px;
  text-align: left;
}

span.octicon {
  margin-right: 8px;
  display: inline-flex;
}

.mat-card {
  padding: 10px;
}

:host ::ng-deep div.mat-card-header-text {
  margin: 2px;
}

div.column-header .mat-card-title {
  justify-content: center;
  margin: 0;
}

div.column-header {
  justify-content: center;
}

div.column-header .mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .mat-chip-list-wrapper .mat-standard-chip,
.mat-chip-list-wrapper input.mat-input-element {
  margin: 2px;
}
