<div class="card-column">
  <div class="column-header">
    <mat-card>
      <mat-card-header>
        <div
          mat-card-avatar
          [ngStyle]="{
            background: 'url(' + this.assignee.avatar_url + ')',
            'background-size': '40px'
          }"
        ></div>
        <mat-card-title>
          {{ this.assignee !== undefined ? this.assignee.login : '' }}
        </mat-card-title>
        <div class="row-count">{{ this.issues.count }}</div>
      </mat-card-header>
    </mat-card>
  </div>

  <div *ngFor="let issue of this.issues$ | async; index as i">
    <mat-card class="card" [ngClass]="this.getIssueOpenOrCloseColorCSSClass(issue)">
      <a class="no-underline link-grey-dark" (click)="viewIssueInBrowser(issue.id, $event)">
        <span [matTooltip]="this.issue.updated_at">
          <mat-card-header>
            <mat-card-title>
              <span class="octicon" [octicon]="this.getOcticon(issue)" [color]="this.getIssueOpenOrCloseColor(issue)"></span>
              #{{ issue.id }}: {{ this.fitTitleText(issue.title) }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-chip-list aria-label="Labels">
              <span *ngIf="issue.milestone" class="octicon-milestone" octicon="milestone" color="grey" size="8"></span>
              {{ issue.milestone?.title }}
              <mat-chip *ngFor="let label of issue.githubLabels" [ngStyle]="labelService.setLabelStyle(label.color)" selected>
                {{ label.name }}
              </mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </span>
      </a>
    </mat-card>
  </div>

  <mat-card *ngIf="this.issues.isLoading$ | async" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
  </mat-card>
  <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
</div>
