.reviewer-avatar {
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  margin-left: -17px;
}

.reviewers {
  display: flex;
  flex-direction: row-reverse;
}

.reviewers:hover > .reviewer-avatar {
  margin-left: 0px;
}
