<div style="display: flex">
  <app-event-tables
    *ngFor="let assignee of assignees"
    class="issue-table"
    [actor]="assignee"
    [headers]="this.displayedColumns"
    [actions]="this.actionButtons"
  ></app-event-tables>
</div>

<p>{{ this.count }}</p>
<p>Issue {{ this.issueCount }}</p>
<p>PR {{ this.prCount }}</p>
<p>Comment {{ this.commentCount }}</p>

<button (click)="print()">Fetch Issue Events</button>
<button (click)="printE()">Fetch Github Events</button>
<pre>{{ this.log | json }}</pre>
