.hidden-users {
  margin: 8px;
  min-width: 150px;
  max-width: 300px;
}

.row-count {
  background-color: rgb(222, 222, 222);
  border-radius: 3px;
  cursor: default;
  padding: 6px;
  color: rgb(0, 0, 0);
  font-weight: 410;
  display: inline-flex;
  font-size: 14px;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.mat-card {
  margin: 8px 0px;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mat-card-title {
  font-size: 14px;
  text-align: center;
  margin: 0;
  flex-grow: 1;
  margin: 2px;
  word-break: break-word;
}

.mat-card-avatar {
  height: 30px;
  width: 30px;
}

.mat-card-header .mat-card-title {
  font-size: 12px;
}

.scrollable-container {
  height: 67vh;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.scrollable-containers::-webkit-scrollbar {
  display: none;
}

.scrollable-container::before,
.scrollable-container::after {
  pointer-events: none;
  content: '';
  z-index: 2;
  height: 6px;
  width: 100%;
  display: block;
  background-image: linear-gradient(to bottom, white 66%, transparent);
}

.scrollable-container::before {
  position: absolute;
}

.scrollable-container::after {
  position: sticky;
}
