.repo-menu-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 10px;
}

.new-repo-button {
  flex-grow: 1;
  width: 100%;
}

.keep-filter-slider {
  margin-top: 5px;
}

::ng-deep .keep-filter-slider .mat-ripple {
  display: none;
}

.repo-options {
  max-height: 300px;
  overflow-y: auto;
}

.repo-options button {
  font-size: 17px;
}

/* Overwrite the width of the menu */
::ng-deep .repo-menu {
  width: fit-content !important;
  min-width: 320px !important;
}

/* Font size of 20px for main elements in header */
.header-main-text {
  font-size: 20px;
}

.toolbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  div {
    display: flex;
    align-items: center;
  }
}
