<mat-toolbar color="primary" style="position: sticky; position: -webkit-sticky; top: 0; z-index: 1000">
  <div class="toolbar-wrapper">
    <div class="left">
      <button
        *ngIf="isBackButtonShown()"
        mat-icon-button
        class="mat-toolbar mat-primary back-button"
        style="transform: scale(0.9)"
        (click)="goBack()"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <a
        class="mat-toolbar mat-primary"
        style="text-decoration: none"
        [routerLink]="viewService.isRepoSet() ? viewService.currentView : null"
        >WATcher v{{ this.getVersion() }}</a
      >

      <div *ngIf="viewService.isRepoSet()" style="margin-left: 20px">
        <button mat-button [matMenuTriggerFor]="menu">
          <span class="header-main-text">
            {{ this.presetViews[this.filtersService.presetView$.value] }}
          </span>
          <mat-icon style="color: white">expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngFor="let presetView of this.presetViews | keyvalue">
            <button mat-menu-item *ngIf="presetView.key !== 'custom'" (click)="this.filtersService.updatePresetView(presetView.key)">
              <span>
                <mat-icon
                  [ngStyle]="{
                    color: 'green',
                    visibility: this.filtersService.presetView$.value === presetView.key ? 'visible' : 'hidden'
                  }"
                  >done</mat-icon
                >
                {{ presetView.value }}
              </span>
            </button>
          </div>
        </mat-menu>
      </div>

      <button
        *ngIf="auth.isAuthenticated() && viewService.isRepoSet() && isReviewsDashboardButtonShown()"
        mat-button
        matTooltip="Open Reviews Dashboard (WIP)"
        (click)="openReviewsDashboard()"
      >
        <mat-icon>rate_review</mat-icon>
      </button>

      <button
        *ngIf="auth.isAuthenticated() && viewService.isRepoSet() && isIssuesViewerButtonShown()"
        mat-button
        matTooltip="Open Issues Dashboard"
        (click)="openIssuesViewer()"
      >
        <mat-icon>view_day</mat-icon>
      </button>
    </div>
    <div class="center">
      <div *ngIf="auth.isAuthenticated() && viewService.isRepoSet()">
        <button
          mat-button
          matTooltip="{{ viewService.isRepoSet() ? 'Change Repository' : 'Select Repository' }}"
          [matMenuTriggerFor]="repoMenu"
        >
          <span id="view-descriptor" class="header-main-text">
            {{ this.currentRepo || 'No Repository Set' }}
          </span>
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <mat-menu #repoMenu xPosition="after" class="repo-menu">
        <div class="repo-options">
          <div *ngFor="let repo of this.repoUrlCacheService.suggestions">
            <button mat-menu-item *ngIf="repo !== this.currentRepo" (click)="this.applyRepoDropdown(repo, true)">
              {{ repo }}
            </button>
          </div>
        </div>

        <div class="repo-menu-footer">
          <button
            mat-flat-button
            color="primary"
            class="new-repo-button"
            (click)="this.openChangeRepoDialog()"
            matTooltip="Add new repository"
          >
            <mat-icon>add</mat-icon>
          </button>

          <mat-slide-toggle
            [(ngModel)]="keepFilters"
            (click)="$event.stopPropagation()"
            color="primary"
            class="keep-filter-slider"
            labelPosition="before"
          >
            Keep current filters
          </mat-slide-toggle>
        </div>
      </mat-menu>
    </div>

    <div class="right">
      <span style="flex: 1 1 auto"></span>

      <button mat-button matTooltip="Download WATcher Log" (click)="this.exportLogFile()">
        <mat-icon>receipt</mat-icon>
      </button>
      <button mat-button matTooltip="Give feedback about WATcher" (click)="openIssueTracker()">
        <mat-icon>mail</mat-icon>
      </button>

      <button
        *ngIf="auth.isAuthenticated() && viewService.isRepoSet() && isOpenUrlButtonShown()"
        mat-button
        matTooltip="View current page on GitHub"
        (click)="viewBrowser()"
      >
        <mat-icon>open_in_new</mat-icon>
      </button>

      <div class="sync-spinner" *ngIf="auth.isAuthenticated() && (this.isLoading$ | async); else notLoading">
        <mat-spinner class="white-spinner" [diameter]="20"></mat-spinner>
      </div>

      <ng-template #notLoading>
        <button
          *ngIf="auth.isAuthenticated() && viewService.isRepoSet() && isReloadButtonShown() && !this.isReloadButtonDisabled"
          mat-button
          matTooltip="Synchronize with Github data"
          (click)="reload()"
        >
          Sync
          <mat-icon>refresh</mat-icon>
        </button>
        <div class="sync-spinner" *ngIf="auth.isAuthenticated() && isReloadButtonShown() && this.isReloadButtonDisabled">
          <span style="font-size: 14px; margin-right: 7px">Sync</span>
          <mat-spinner class="white-spinner" [diameter]="20"></mat-spinner>
        </div>
      </ng-template>

      <button *ngIf="auth.isAuthenticated()" mat-button matTooltip="Log out" (click)="openLogOutDialog(); $event.stopPropagation()">
        ({{ userService.currentUser.loginId }})
        <mat-icon style="margin-left: 2px">exit_to_app</mat-icon>
      </button>
    </div>
  </div>

  <!-- Gateway to activity dashboard, do not delete -->
  <!--div *ngIf="auth.isAuthenticated() && this.viewService.sessionData.sessionRepo.length > 1">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon style="color: white">expand_more</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let sessionRepo of this.viewService.sessionData.sessionRepo"
        (click)="this.routeToSelectedView(sessionRepo.view)"
      >
        <span>
          <mat-icon [ngStyle]="{ color: 'green', visibility: this.viewService.currentView === sessionRepo.view ? 'visible' : 'hidden' }"
            >done</mat-icon
          >
          {{ this.getViewDescription(sessionRepo.view) }}
        </span>
      </button>
    </mat-menu>
  </div-->
</mat-toolbar>
