.popup-container {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
}

.popupmenu {
  width: max-content;
}

.scroll-container {
  height: 400px;
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.input-field {
  width: 100%;
}

.list-option {
  width: 100%;
}

.mat-chip {
  height: auto;
  padding: 5.5px 7px;
  line-height: 1.1em;
  position: inherit;
  border-radius: 6px;
  font-size: 12px;
  min-height: 16px;
  max-height: 42px;
  margin: 0px;
  top: 50%;
}

.mat-stroked-button {
  font-weight: normal;
}

.hidden {
  display: none !important;
}

mat-list-option {
  width: max-content;
}
