.popup-container {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
}

.popupmenu {
  width: max-content;
}

.scroll-container {
  max-height: 400px;
  width: 100%;
  overflow-y: auto;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.input-field {
  width: 100%;
}

.list-option {
  width: 100%;
}

.mat-chip {
  position: inherit;
  border-radius: 6px;
  font-size: 12px;
  padding: 11px 7px;
  min-height: 16px;
  margin: 0px;
  top: 50%;
}

.mat-stroked-button {
  font-weight: normal;
}

.hidden {
  display: none !important;
}

mat-list-option {
  width: max-content;
}
