::ng-deep.mat-menu-content:not(:empty) {
  /* Override mat-menu-content's non-empty default CSS. */
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep.mat-menu-panel {
  /* Override mat-menu-panel's default CSS. */
  width: 280px;
  max-width: none !important;
}

.popup-container {
  flex-direction: column;
}

.popupmenu {
  width: max-content;
}

.scroll-container {
  max-height: 400px;
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Ref: https://css-scroll-shadows.vercel.app */
  background: linear-gradient(white 33%, transparent), linear-gradient(transparent, white 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.7), transparent),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.7), transparent) 0 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 15px, 100% 15px, 100% 5px, 100% 5px;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.input-field {
  width: calc(100% - (2 * 15px)); /* To account for left and right padding. */
  padding: 0 15px;
}

.list-option {
  width: 100%;
}

.mat-chip {
  position: inherit;
  border-radius: 6px;
  font-size: 12px;
  padding: 11px 7px;
  min-height: 16px;
  margin: 0px;
  top: 50%;
}

.mat-stroked-button {
  font-weight: normal;
}

.hidden {
  display: none !important;
}

mat-list-option {
  width: max-content;
}
