::ng-deep.mat-menu-content:not(:empty) {
  /* Override mat-menu-content's non-empty default CSS. */
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep.mat-menu-panel {
  /* Override mat-menu-panel's default CSS. */
  width: 280px;
  max-width: none !important;
}

.popup-container {
  flex-direction: column;
}

.popupmenu {
  width: max-content;
}

.scroll-container {
  max-height: 400px;
  width: 100%;
  overflow-y: auto;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Ref: https://css-scroll-shadows.vercel.app */
.scroll-container::before {
  pointer-events: none;
  content: '';
  position: absolute;
  z-index: 2;
  height: 7px;
  width: 100%;
  display: block;
  background-image: linear-gradient(to bottom, white 66%, transparent);
}

.scroll-container::after {
  pointer-events: none;
  content: '';
  position: sticky;
  z-index: 2;
  top: 100%;
  height: 7px;
  width: 100%;
  display: block;
  background-image: linear-gradient(to top, white 66%, transparent);
}

.scroll-container-wrapper {
  position: relative;
}

.scroll-container-wrapper::before {
  pointer-events: none;
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-image: radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.7), transparent);
}

.scroll-container-wrapper::after {
  pointer-events: none;
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-image: radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.7), transparent);
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 8px);
  border-radius: 10px;
  height: 40px;
  padding: 0px 12px;
  margin: 8px 4px;
  box-sizing: border-box;
}

.input-field {
  width: calc(100% - (2 * 15px)); /* To account for left and right padding. */
  padding: 0 15px;
}

.mat-chip {
  height: auto;
  padding: 5.5px 7px;
  line-height: 1.1em;
  position: inherit;
  border-radius: 6px;
  font-size: 12px;
  min-height: 16px;
  max-height: 42px;
  margin: 0px;
  top: 50%;
}

.mat-stroked-button {
  font-weight: normal;
}

.hidden {
  display: none !important;
}

mat-list-option {
  width: max-content;
}

.no-labels {
  /* Chosen to look similar to button above. */
  padding: 0 16px;
  font-size: 14px;
}
