<div class="wrapper">
  <!-- <mat-slide-toggle [(ngModel)]="!!this.presetsService.currentPreset" (change)="onSaveToggleClicked($event)" labelPosition="before"
    >Save your filters</mat-slide-toggle
  > -->
  <mat-form-field appearance="standard">
    <mat-label
      >Current preset
      <span *ngIf="this.presetsService.currentPreset && this.presetsService.currentPreset.isGlobal"> (global) </span></mat-label
    >
    <mat-select
      [(ngModel)]="this.presetsService.currentPreset"
      (selectionChange)="onOptionSelected($event)"
      (openedChange)="onSelectOpened($event)"
    >
      <mat-optgroup [label]="'Global presets'">
        <mat-option
          *ngFor="let preset of this.presetsService.globalPresets$.value"
          [value]="preset"
          [matTooltip]="preset.toText()"
          matTooltipPosition="left"
        >
          <div class="option-wrapper">
            {{ preset.label }}
            <button mat-button *ngIf="isMenuOpen" (click)="onDeleteButtonClicked($event, preset)">
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin: 0" color="warn">delete_outline</mat-icon>
            </button>
          </div>
        </mat-option>
        <mat-option *ngIf="this.presetsService.globalPresets$.value.length == 0" [value]="undefined" disabled> -- none -- </mat-option>
      </mat-optgroup>
      <mat-optgroup [label]="'Repo-specific presets'">
        <mat-option
          *ngFor="let preset of this.presetsService.availablePresets$.value"
          [value]="preset"
          [matTooltip]="preset.toText()"
          matTooltipPosition="left"
        >
          <div class="option-wrapper">
            {{ preset.label }}
            <button mat-button *ngIf="isMenuOpen" (click)="onDeleteButtonClicked($event, preset)">
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin: 0" color="warn">delete_outline</mat-icon>
            </button>
          </div>
        </mat-option>
        <mat-option *ngIf="this.presetsService.availablePresets$.value.length == 0" [value]="undefined" disabled> -- none -- </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <!-- <button mat-button color="warn" *ngIf="!!this.presetsService.currentPreset" (click)="onSaveButtonClicked()">Delete</button> -->
  <button mat-raised-button color="primary" (click)="onSaveButtonClicked()">Save</button>
</div>
