.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
}

/* Note: deprecated - find a better way in future */
:host ::ng-deep .mat-form-field-infix {
  /* Remove the top so that the elements look in line */
  border-top: 0;
}
